.Body
  .Wrapper
    .Navbar
      .Title
        bookable
      .Categories
        %ul
          %li 
            = link_to('signup', new_user_registration_path)
          %li 
            = link_to('login', new_user_session_path)
      
    .Media
      %ul
        %li login with:
        %li facebook
        %li Twitter
    .ImgWrapper01
      .Img01
      .Block
    .ImgWrapper02
      .Img02
      .Block
    .Text
      %h1 
        %span.Hidetext The Great Tips
      %p 
        %span.Hidetext knowledge for better life
    .Desc
      %ul
        %li Volume01
        %li Volume02
      %p Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.
    .Scrolldown 
      get greater
    .Bottomnav
      .Next step up
      .Nav
        .Bottomnav-img
