// index review
a {
  text-decoration: none;
}
.IndexReview {
  width: 100%;
  height: 90vh;
  background: image-url('image06.jpg');
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .SearchField {
    
    #keyword {
      height: 35px;
      width: 300px;
      padding-left: 10px;
    }
    .search-btn {
      border: none;
      padding: 7px;
      width: 100px;
      background-color: #857f67;
      color: white;
      border-radius: 2px;
    }
  }
  .SlideMain {
    display: flex;
    justify-content: space-around;
    .LikeBtn {
      width: 200px;
      height:500px;
      background-color: lightgreen;
      font-size: 100px;
      border-radius: 5px 0 0 5px;
      .Heart {
        width: 200px;
        height: 500px;
        display: block;
        text-align: center;
        line-height: 500px;
        color: white;
      }
    }
    .LikeBtn :active {
      background-color: rgb(115, 206, 115);
      border-radius: 5px 0 0 5px;
    }
    .Cover {
      height: 500px;
      margin: 0 15px;
      position: relative;
      .Image {
        height: 500px;
      }
    }
    .NopeBtn {
      width: 200px;
      height: 500px;
      background-color: coral;
      font-size: 100px;
      border-radius: 0 5px 5px 0;
      .Times {
        width: 200px;
        height: 500px;
        display: block;
        text-align: center;
        line-height: 500px;
        color: white;
      }
    }
    .NopeBtn :active {
      background-color: rgb(196, 98, 63);
      border-radius: 0 5px 5px 0;
    }
  }
}
.LinkBtns {
  width: 100%;
  height: 10vh;
  background-color: rgb(133, 127, 103);
  display: flex;
  justify-content: space-around;
  .Lnk {
    color: white;
    display: block;
    line-height: 10vh;
    font-size: 50px;
  }
}




// create review

.NewReview {
  height: 100vh;
  width: 100%;
  background: image-url('image08.jpg') no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .Content {
    height: 85vh;
    width: 45%;
    .Introduction {
      text-align: center;
      font-family: 'Tinos';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 30px;
      color: #fff;
    }
    .FormField {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      .FirstRow {
        display: flex;
        padding: 10px;
        .image-icon {
          color: #fff;
          font-size: xx-large;
          margin-right: 10px;
        }
        .Hidden {
          display: none;
        }
        .Title {
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid #fff;
          border-radius: 5px;
          text-align: center;
          padding: 5px;
          width: 450px;
          color: #fff;
        }
      }
      .Text {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 5px;
        width: 500px;
        height: 450px;
        color: #fff;
      }
      .btn {
        background-color: rgb(133, 127, 103);
        color: #fff;
        border: none;
        border-radius: 5px;
        width: 510px;
        height: 40px;
        margin-top: 20px;
      }
    }
  }
}

// show review
.ShowReview {
  a {
    color: white;
  }
  display: flex;
  height: 100vh;
  background: image-url('image08.jpg') no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
  .LeftColumn {
    width: 30%;
    padding: 30px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .Username {
      font-family: 'Times New Roman', Times, serif;
      margin-bottom: 20px;
      .user-btn {
        color: #857f67;
      }
    }
    .BookCover {
      margin-bottom: 20px;
    }
    .ActionBtns {
      font-size: 40px;
      display: flex;
      justify-content: space-between;
    }
  }
  .RightColumn {
    height: 100vh;
    width: 70%;
    // padding: 20px 10px 0 10px;
    .RightMain {
      height: 75vh;
      margin-top: 20px;
      .Title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px white solid;
      }
      .Content {
        height: calc(100% - 100px);
        margin-top: 20px;
        font-size: 20px;
        line-height: 45px;
        overflow-y: scroll;
        display: block;
      }
      .Content::-webkit-scrollbar {
        display: none;
      }
    }
    .Review {
      height: 20vh;
      .Comments {
        border-top: 1px white solid;
        height: 100px;
        overflow-y: scroll;
        display: block;
      }
      .Comments::-webkit-scrollbar {
        display: none;
      }
      .ActionForms {
        margin-top: 20px;
        height: 50px;
        width: 100%;
        form {
          height: 50px;
          width: 100%;
          display: flex;
        }
        #comment_text {
          resize: none;
          height: 48px;
          width: 80%;
          margin-right: 5px;
          padding: 0 10px;
          line-height: 48px;
        }
        input {
          width: 20%;
          height: 50px;
          border: none;
          border-radius: 3px;
          background-color: #857f67;
          color: white;
        }
      }
    }
  }
}

.SearchReview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: image-url('image06.jpg');
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  .SearchField {
    height: 20vh;
    display: flex;
    align-items: center;
    #keyword {
      height: 35px;
      width: 300px;
      padding-left: 10px;
    }
    .search-btn {
      border: none;
      padding: 7px;
      width: 100px;
      background-color: #857f67;
      color: white;
      border-radius: 2px;
    }
  }
  .Contents {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    .result-box {
      width: 80%;
      height: 140px;
      border-radius: 5px;
      background-color: #857f67;
      color: white;
      line-height: 140px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;;
      font-size: 45px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .Contents::-webkit-scrollbar {
    display: none;
  }
}